footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  app-socials {
    margin-bottom: 1.15rem;
  }

  #copyright {
    font-size: clamp(0.75rem, 0.75rem + 1vw, 1.1rem);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* For tablets: */

  footer {
    padding: 1.5rem 0;
  }
}
