.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  a {
    padding: 0 2rem;
    color: var(--color-fg);

    &:hover {
      color: var(--color-ac);
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .socials {
    margin: unset;
    a {
      padding: 0 1.5rem;
    }
  }
}
