<div class="single-work">
  <div class="single-work-title">
      <h3><a class="titlelink" href="{{ work.url }}">{{ work.title }}</a></h3>
  </div>
  <div class="single-work-image"><img src="{{ work.imgUrl }}"
          alt="Screenshots of the Athlon gym website on mobile and desktop"></div>
  <div class="single-work-languages">
      <p><b>Languages:</b> {{ work.languages }}.</p>
  </div>
  <div class="single-work-description">
      <p> {{ work.description }} </p>
  </div>
  <div class="single-work-icons">
      <a href="{{ work.url }}" aria-label="Athlon gym website"><span
              class="faw fa fa-globe"></span></a>
  </div>
</div>
