<div class="single-work">
  <div class="single-work-title">
    <h3>{{ work.title }}</h3>
  </div>
  <div class="single-work-image"><img src="{{ work.imgUrl }}" alt=""></div>
  <div class="single-work-languages">
    <app-list title="Languages" [contents]=work.languages></app-list>
  </div>
  <div class="single-work-description">
    <p> {{ work.description }} </p>
  </div>
  <div class="single-work-icons">
    <a href="{{ work.url }}" attr.aria-label="{{work.url.includes('github.com') ? 'Click here to see more on GitHub' : 'Click here to see the website'}}">
      <fa-icon [icon]="work.url.includes('github.com') ? faGithub : faGlobe"></fa-icon>
    </a>
  </div>
</div>
