nav {
  a {
    color: var(--color-fg);
    font-size: clamp(0.9rem, 0.9rem + 1vw, 1.2rem);

    &:hover {
      color: var(--color-ac);
    }
  }
}

#worksnav,
#skillsnav,
#resumenav {
  display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* For tablets: */

  #worksnav,
  #skillsnav,
  #resumenav {
    display: block;
  }

  nav {
    display: flex;
    margin-bottom: 1rem;

    a {
      padding: 0 1.25rem;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav {
    margin: unset;
  }
}
